@font-face {
  font-family: Casta, Poppins;
  src: url(fonts/Casta-Thin.otf);
  src: url(fonts/Casta-ThinSlanted.otf);
  src: url(fonts/Poppins-Medium.ttf);
  src: url(fonts/Poppins-Regular.ttf);
  src: url(fonts/Poppins-Light.ttf);
}
