#sscollection21 {
  font-family: Casta, Arial, Helvetica, sans-serif, "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  src: url(fonts/Casta-Thin.otf);
}
.p {
  font-family: Poppins;
  src: url(fonts/Poppins-Medium.ttf);
}
